{% extends "base.html" %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}

{% include 'nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="panel panel-default panel-form">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4>Search result for: <b>{{ keyword }}</b></h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'twittur:save' %}" class="btn btn-blue">Save</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="example" class="table table-hover">
                        <thead>
                            <tr>
                                <th>User Name <i class="fa fa-sort"></i></th>
                                <th>Tweet <i class="fa fa-sort"></i></th>
                                <th>Fav <i class="fa fa-sort"></i></th>
                                <th>Rt <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in result %}
                            <tr>
                                <td>{{ x.user.name }}</td>
                                <td>{{ x.full_text }}</td>
                                <td>{{ x.favorite_count }}</td>
                                <td>{{ x.retweet_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% load static %}
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}