<nav class="navbar navbar-color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">FYP</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'dashboard:index' %}">Home</a></li>
                <li><a href="{% url 'twittur:keyword' %}">Keyword Search</a></li>
                <li><a href="{% url 'twittur:user' %}">User Search</a></li>
                <li><a href="{% url 'sental:index' %}">Analyse</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'authentication:signout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>